<h1>Show Finder</h1>

<div id="show" hidden>

</div>

<form id="searchForm">
    <label for="search_term">Search Shows</label>
    <input type="text" id="search_term" />
    <button type="button" onClick="search()" >Submit</button>
</form>

<ul id="showList">

</ul>

<a href="/" id="homeLink" hidden>Back to All Shows</a>

<footer>
    <p>Alex Johnson | 10439617 | Surfer</p> 
</footer>